<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <a class="nav-logo" href="#">
            <img src="logo.svg" alt="matcha logo">
        </a>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a class="ui-text" href="#">Messages</a></li>
            <li class="nav-menu-item"><a class="ui-text" href="#">Search</a></li>
            <li class="nav-menu-item"><a class="ui-text" href="#">My profile</a></li>
            <li class="nav-menu-item"><a class="ui-text" href="#">Settings</a></li>
            <li class="nav-menu-item"><a class="ui-text" href="#">Log out</a></li>
        </ul>
    </header>
    <div class="scrollable-content">
        <main class="content">
            <div class="interactive">
                <div class="profile-photo">
                    <img class="profile-photo-img" src="avatar.jpeg" alt="profile photo">
                    <div class="mob-main-info">
                        <img  id="mob-status" src="status.svg" alt="status">
                        <span id="mob-user-name">Sofia Shidlovskaya</span>
                        <span id="mob-user-age">22</span>
                        <span id="mob-distance">2 cm away</span>
                    </div>
                </div>
                <div class="buttons">
                    <a class="button button-1" href="#">Connect</a>
                    <a class="button button-2" href="#">Report</a>
                    <a class="button button-3" href="#">Block</a>
                </div>
            </div>
            <div class="info">
                <div class="info-section main-info">
                    <img src="status.svg" alt="status">
                    <span id="user-name">Sofia Shidlovskaya</span>
                    <span id="user-age">22</span>
                    <span id="distance">2 cm away</span>
                </div>
                <div class="info-section sec-info">
                    <table>
                        <tr>
                            <th class="info-title">location</th>
                            <td>Russian Federation, Moscow, Chertanovo</td>
                        </tr>
                        <tr>
                            <th class="info-title">Fame rating</th>
                            <td>1000.00</td>
                        </tr>
                        </tr>
                        <tr>
                            <th class="info-title">Looking for</th>
                            <td>Sandwich-With-Turkey, Helicopter, Love</td>
                        </tr>
                        <tr>
                            <th class="info-title">gender</th>
                            <td>Sandwich-With-Butter</td>
                        </tr>
                    </table>
                </div>
                <div class="info-section mob-sec-info">
                    <div class="mob-sec-info-item">
                        <span class="info-title">location</span><br>
                        <span>Russian Federation, Moscow, Chertanovo</span>
                    </div>
                    <div class="mob-sec-info-item">
                        <span class="info-title">Fame rating</span><br>
                        <span>1000.00</span>
                    </div>
                    <div class="mob-sec-info-item">
                        <span class="info-title">Looking for</span><br>
                        <span>Sandwich-Wispan-Turkey, Helicopter, Love</span>
                    </div>
                    <div class="mob-sec-info-item">
                        <span class="info-title">gender</span><br>
                        <span>Sandwich-With-Butter</span>
                    </div>
                </div>
                <div class="info-section bio-info">
                    <span class="info-title">ABoUT ME</span>
                    <p id="bio-info-text">I am a cool girl with big wishes. Looking for a good sandwich with turkey and some creamy sauce. I have 3 children, they all are beautiful, nice and tall. My boyfrend is abuser, he want to kill me!!! TERRIBLE :(((</p>
                </div>
                <div class="info-section tags-info">
                    <span class="info-title">Interest Tags</span>
                    <div id="tags-container">
                        <div class="tags-container-item">Sandwiches with cheese</div>
                        <div class="tags-container-item">Dmitriy Karmatskiy</div>
                        <div class="tags-container-item">NetFLEX</div>
                        <div class="tags-container-item">Food</div>
                        <div class="tags-container-item">English</div>
                        <div class="tags-container-item">Hyper Text Modeling Lagnuage</div>
                        <div class="tags-container-item">Golang</div>
                        <div class="tags-container-item">Dual Programming</div>
                        <div class="tags-container-item">Animals</div>
                        <div class="tags-container-item">Metallica</div>
                        <div class="tags-container-item">Youtube</div>
                        <div class="tags-container-item">Gayporn</div>
                        <div class="tags-container-item">Pregnant in age of 16</div>
                        <div class="tags-container-item">TV-Shows</div>
                    </div>
                </div>
            </div>
        </main>

        <footer id="footer">
            <div id="footer-menu-container">
                <div class="footer-menu">
                    <span class="footer-menu-item footer-menu-title">main menu</span>
                    <a class="footer-menu-item" href="#">Home</a>
                    <a class="footer-menu-item" href="#">My profile</a>
                    <a class="footer-menu-item" href="#">Search</a>
                    <a class="footer-menu-item" href="#">Settings</a>
                </div>
                <div class="footer-menu">
                    <span class="footer-menu-item footer-menu-title">info</span>
                    <a class="footer-menu-item" href="#">Developers</a>
                    <a class="footer-menu-item" href="#">Matcha project</a>
                    <a class="footer-menu-item" href="#">Privacy policies</a>
                </div>
                <div class="footer-menu">
                    <span class="footer-menu-item footer-menu-title">todo-list</span>
                    <a class="footer-menu-item" href="#">Wake up</a>
                    <a class="footer-menu-item" href="#">Go to toilet</a>
                    <a class="footer-menu-item" href="#">Open youtube</a>
                    <a class="footer-menu-item" href="#">Press subscribe button</a>
                    <a class="footer-menu-item" href="#">Go to bed</a>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="main.js"></script>
</html>